USE [SWP]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[address_id] [int] NOT NULL,
	[address] [nvarchar](150) NULL,
	[user_ID] [int] NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blog_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[img] [varchar](50) NULL,
	[date] [date] NULL,
	[detail] [nvarchar](max) NULL,
	[stype] [int] NULL,
	[category_Id] [int] NULL,
	[author] [nvarchar](50) NULL,
	[number_of_views] [int] NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[blog_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[Brand_ID] [int] NOT NULL,
	[Brand_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_brand] PRIMARY KEY CLUSTERED 
(
	[Brand_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Cart_ID] [int] IDENTITY(1,1) NOT NULL,
	[total_price] [decimal](10, 2) NULL,
	[count] [int] NULL,
	[user_ID] [int] NULL,
	[product_ID] [int] NULL,
 CONSTRAINT [PK__Cart__D6AB58B9D44A730C] PRIMARY KEY CLUSTERED 
(
	[Cart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_ID] [int] IDENTITY(1,1) NOT NULL,
	[category_Name] [nvarchar](100) NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK__Category__23CAF1F8C6184C8B] PRIMARY KEY CLUSTERED 
(
	[category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_Blog]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_Blog](
	[category_Id] [int] NOT NULL,
	[category_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_category_Blog] PRIMARY KEY CLUSTERED 
(
	[category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[color_id] [int] IDENTITY(1,1) NOT NULL,
	[color_Name] [nvarchar](50) NULL,
	[color_code] [varchar](50) NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[discount_ID] [int] IDENTITY(1,1) NOT NULL,
	[discount_amount] [int] NULL,
	[discount_Name] [nvarchar](50) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
 CONSTRAINT [PK__Discount__BD819201BFB34DAE] PRIMARY KEY CLUSTERED 
(
	[discount_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[fu_ID] [int] IDENTITY(1,1) NOT NULL,
	[fu_Name] [nvarchar](50) NOT NULL,
	[url] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[fu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_ID] [int] IDENTITY(1,1) NOT NULL,
	[img] [varchar](50) NULL,
	[detal] [nvarchar](max) NULL,
	[user_ID] [int] NULL,
	[product_ID] [int] NULL,
	[start] [int] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedback_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history_oder]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history_oder](
	[his_ID] [int] IDENTITY(1,1) NOT NULL,
	[order_ID] [int] NULL,
 CONSTRAINT [PK_history_oder] PRIMARY KEY CLUSTERED 
(
	[his_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Home_Products]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Home_Products](
	[home] [bit] NULL,
	[product_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImgProduct]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImgProduct](
	[img_ID] [int] IDENTITY(1,1) NOT NULL,
	[img_url] [varchar](50) NOT NULL,
	[product_ID] [int] NULL,
 CONSTRAINT [PK_ImgProduct] PRIMARY KEY CLUSTERED 
(
	[img_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImgSetting]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImgSetting](
	[img] [varchar](50) NULL,
	[type] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_ID] [int] IDENTITY(1,1) NOT NULL,
	[user_ID] [int] NULL,
	[order_status] [nvarchar](150) NULL,
	[order_date] [date] NULL,
	[pay_ID] [int] NULL,
	[shipID] [int] NULL,
	[total_amount] [float] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_item]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_item](
	[order_ID] [int] NOT NULL,
	[product_ID] [int] NOT NULL,
	[quantity] [int] NULL,
	[price_unit] [int] NULL,
 CONSTRAINT [PK_Order_item] PRIMARY KEY CLUSTERED 
(
	[order_ID] ASC,
	[product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[pay_ID] [int] IDENTITY(1,1) NOT NULL,
	[payment_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[pay_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_ID] [int] IDENTITY(1,1) NOT NULL,
	[feedback_ID] [int] NULL,
	[price] [float] NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](50) NULL,
	[Sport_ID] [int] NULL,
	[product_Name] [nvarchar](150) NULL,
	[brand_ID] [int] NULL,
	[quantity_sold] [int] NULL,
	[discount_ID] [int] NULL,
	[Subcategory_ID] [int] NULL,
	[import_price] [float] NULL,
	[Inventory_number] [int] NULL,
 CONSTRAINT [PK__Product__470175FD70E0C282] PRIMARY KEY CLUSTERED 
(
	[product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Color]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Color](
	[color_id] [int] NOT NULL,
	[product_ID] [int] NOT NULL,
 CONSTRAINT [PK_Product_Color] PRIMARY KEY CLUSTERED 
(
	[color_id] ASC,
	[product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_ID] [int] IDENTITY(1,1) NOT NULL,
	[role_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Role__CD98460A698213B8] PRIMARY KEY CLUSTERED 
(
	[role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Feature]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Feature](
	[fu_ID] [int] NOT NULL,
	[role_ID] [int] NOT NULL,
 CONSTRAINT [PK_Role_Feature] PRIMARY KEY CLUSTERED 
(
	[fu_ID] ASC,
	[role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ship]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ship](
	[shipID] [int] IDENTITY(1,1) NOT NULL,
	[ship_status] [nvarchar](50) NULL,
	[phaned_time] [date] NULL,
	[ship_cost] [decimal](10, 2) NULL,
	[Ship_method] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ship] PRIMARY KEY CLUSTERED 
(
	[shipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[size_ID] [int] IDENTITY(1,1) NOT NULL,
	[size_name] [varchar](50) NULL,
	[size_type] [varchar](50) NULL,
 CONSTRAINT [PK_Size] PRIMARY KEY CLUSTERED 
(
	[size_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size_Color]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size_Color](
	[color_id] [int] NOT NULL,
	[size_ID] [int] NOT NULL,
	[quantity] [int] NULL,
	[product_ID] [int] NOT NULL,
 CONSTRAINT [PK_Size_Color] PRIMARY KEY CLUSTERED 
(
	[color_id] ASC,
	[size_ID] ASC,
	[product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sport]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sport](
	[Sport_ID] [int] IDENTITY(1,1) NOT NULL,
	[Sport_Name] [nvarchar](100) NULL,
	[Clb_Name] [nvarchar](150) NULL,
 CONSTRAINT [PK__Sport__7A41AF1CB63A9D57] PRIMARY KEY CLUSTERED 
(
	[Sport_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_Blog]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_Blog](
	[blog_ID] [int] NULL,
	[status] [varchar](50) NULL,
	[type] [varchar](50) NULL,
	[time] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subcategory]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcategory](
	[Subcategory_ID] [int] IDENTITY(1,1) NOT NULL,
	[Subcategory_Name] [nvarchar](100) NULL,
	[category_ID] [int] NULL,
 CONSTRAINT [PK__Type__F04DF11AC8CD7127] PRIMARY KEY CLUSTERED 
(
	[Subcategory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccounts]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccounts](
	[user_ID] [int] IDENTITY(1,1) NOT NULL,
	[password_hash] [varchar](255) NULL,
	[username] [nvarchar](50) NULL,
	[full_name] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone_number] [varchar](20) NULL,
	[img] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[dateCreate] [date] NULL,
	[address] [nvarchar](50) NULL,
 CONSTRAINT [PK__UserAcco__B9BF3307ED796B2C] PRIMARY KEY CLUSTERED 
(
	[user_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 7/22/2024 11:02:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[user_ID] [int] NOT NULL,
	[role_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_ID] ASC,
	[role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
INSERT [dbo].[brand] ([Brand_ID], [Brand_Name]) VALUES (1, N'Nike')
INSERT [dbo].[brand] ([Brand_ID], [Brand_Name]) VALUES (2, N'Adidas')
INSERT [dbo].[brand] ([Brand_ID], [Brand_Name]) VALUES (3, N'Puma')
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([Cart_ID], [total_price], [count], [user_ID], [product_ID]) VALUES (3, CAST(4534.00 AS Decimal(10, 2)), 5, 1, 9)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_ID], [category_Name], [type]) VALUES (1, N'Áo', N'nam')
INSERT [dbo].[Category] ([category_ID], [category_Name], [type]) VALUES (2, N'Quần', N'nu')
INSERT [dbo].[Category] ([category_ID], [category_Name], [type]) VALUES (3, N'Giày', N'phu_kien')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[category_Blog] ([category_Id], [category_Name]) VALUES (1, N'Thể Thao')
INSERT [dbo].[category_Blog] ([category_Id], [category_Name]) VALUES (2, N'Thời Trang')
INSERT [dbo].[category_Blog] ([category_Id], [category_Name]) VALUES (3, N'Sức Khỏe')
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([color_id], [color_Name], [color_code]) VALUES (1, N'blue', N'#3cdb1d')
INSERT [dbo].[Color] ([color_id], [color_Name], [color_code]) VALUES (2, N'red', N'#9c2139')
INSERT [dbo].[Color] ([color_id], [color_Name], [color_code]) VALUES (3, N'xanh', N'#1f44db')
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Discount] ON 

INSERT [dbo].[Discount] ([discount_ID], [discount_amount], [discount_Name], [start_date], [end_date]) VALUES (1, 10, N'Đại tiệc mua sắm', NULL, NULL)
INSERT [dbo].[Discount] ([discount_ID], [discount_amount], [discount_Name], [start_date], [end_date]) VALUES (2, 15, N'Chương trình giảm giá cực sốc', NULL, NULL)
INSERT [dbo].[Discount] ([discount_ID], [discount_amount], [discount_Name], [start_date], [end_date]) VALUES (3, 11, N'Tuần lễ sale lớn', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Discount] OFF
GO
SET IDENTITY_INSERT [dbo].[Feature] ON 

INSERT [dbo].[Feature] ([fu_ID], [fu_Name], [url]) VALUES (1, N'SettingHomePage', N'Setting')
INSERT [dbo].[Feature] ([fu_ID], [fu_Name], [url]) VALUES (2, N'ManagerDiscount', N'managerdiscount')
INSERT [dbo].[Feature] ([fu_ID], [fu_Name], [url]) VALUES (4, N'ReportController', N'report')
SET IDENTITY_INSERT [dbo].[Feature] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedback_ID], [img], [detal], [user_ID], [product_ID], [start]) VALUES (1, N'aodoituyenvn.png', N'hang tot', 1, 1, 5)
INSERT [dbo].[Feedback] ([feedback_ID], [img], [detal], [user_ID], [product_ID], [start]) VALUES (2, N'aodoituyenvn.png', N'gôđ', 2, 1, 4)
INSERT [dbo].[Feedback] ([feedback_ID], [img], [detal], [user_ID], [product_ID], [start]) VALUES (3, N'aodoituyenvn.png', N'tot', 3, 1, 3)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
INSERT [dbo].[Home_Products] ([home], [product_ID]) VALUES (1, 1)
INSERT [dbo].[Home_Products] ([home], [product_ID]) VALUES (1, 2)
INSERT [dbo].[Home_Products] ([home], [product_ID]) VALUES (0, 3)
GO
SET IDENTITY_INSERT [dbo].[ImgProduct] ON 

INSERT [dbo].[ImgProduct] ([img_ID], [img_url], [product_ID]) VALUES (1, N'1.webp', 1)
INSERT [dbo].[ImgProduct] ([img_ID], [img_url], [product_ID]) VALUES (2, N'1.webp', 2)
INSERT [dbo].[ImgProduct] ([img_ID], [img_url], [product_ID]) VALUES (3, N'3.webp', 3)
SET IDENTITY_INSERT [dbo].[ImgProduct] OFF
GO
INSERT [dbo].[ImgSetting] ([img], [type]) VALUES (N'trang.png', N'logoh')
INSERT [dbo].[ImgSetting] ([img], [type]) VALUES (N'AoBongRo2_LE_auto_x2_colored.png', N'slide2')
INSERT [dbo].[ImgSetting] ([img], [type]) VALUES (N'2.png', N'logof')
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_ID], [user_ID], [order_status], [order_date], [pay_ID], [shipID], [total_amount]) VALUES (1, 1, N'Đã Giao', CAST(N'2024-06-08' AS Date), 1, 1, 453453)
INSERT [dbo].[Order] ([order_ID], [user_ID], [order_status], [order_date], [pay_ID], [shipID], [total_amount]) VALUES (2, 2, N'Shipping', CAST(N'2024-06-08' AS Date), 2, 2, 435345)
INSERT [dbo].[Order] ([order_ID], [user_ID], [order_status], [order_date], [pay_ID], [shipID], [total_amount]) VALUES (3, 7, N'Delivered', CAST(N'2024-09-07' AS Date), 1, 2, 200000)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[Order_item] ([order_ID], [product_ID], [quantity], [price_unit]) VALUES (1, 1, 2, 647675)
INSERT [dbo].[Order_item] ([order_ID], [product_ID], [quantity], [price_unit]) VALUES (1, 2, 1, 45234)
INSERT [dbo].[Order_item] ([order_ID], [product_ID], [quantity], [price_unit]) VALUES (2, 3, 1, 3423423)
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([pay_ID], [payment_Name]) VALUES (1, N'Thanh Toán Khi Nhận Hàng')
INSERT [dbo].[Payment] ([pay_ID], [payment_Name]) VALUES (2, N'Chuyển Khoản')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_ID], [feedback_ID], [price], [description], [status], [Sport_ID], [product_Name], [brand_ID], [quantity_sold], [discount_ID], [Subcategory_ID], [import_price], [Inventory_number]) VALUES (2, 2, 2222, N'dfgdf', N'sale', NULL, N'
Áo Di Chuyển Đội Tuyển Việt Nam 2022 Grand Sport ', 2, 1, 10, 3, 6, 22)
INSERT [dbo].[Product] ([product_ID], [feedback_ID], [price], [description], [status], [Sport_ID], [product_Name], [brand_ID], [quantity_sold], [discount_ID], [Subcategory_ID], [import_price], [Inventory_number]) VALUES (3, 3, 344324, N'dfgdf', N'sale', NULL, N'ÁO GIỮ NHIỆT THỂ THAO NAM ARSUXEO MS05', 3, 2, 2, 4, 4, 33)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
INSERT [dbo].[Product_Color] ([color_id], [product_ID]) VALUES (1, 1)
INSERT [dbo].[Product_Color] ([color_id], [product_ID]) VALUES (1, 2)
INSERT [dbo].[Product_Color] ([color_id], [product_ID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_ID], [role_Name]) VALUES (1, N'nhan_vien_product')
INSERT [dbo].[Role] ([role_ID], [role_Name]) VALUES (5, N'nhan_vien_blog')
INSERT [dbo].[Role] ([role_ID], [role_Name]) VALUES (6, N'user')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
INSERT [dbo].[Role_Feature] ([fu_ID], [role_ID]) VALUES (1, 7)
INSERT [dbo].[Role_Feature] ([fu_ID], [role_ID]) VALUES (2, 7)
INSERT [dbo].[Role_Feature] ([fu_ID], [role_ID]) VALUES (4, 7)
GO
SET IDENTITY_INSERT [dbo].[Ship] ON 

INSERT [dbo].[Ship] ([shipID], [ship_status], [phaned_time], [ship_cost], [Ship_method]) VALUES (1, N'Chờ lấy hàng', CAST(N'2024-08-08' AS Date), CAST(10000.00 AS Decimal(10, 2)), N'Nhanh')
INSERT [dbo].[Ship] ([shipID], [ship_status], [phaned_time], [ship_cost], [Ship_method]) VALUES (2, N'Đang vận chuyển', CAST(N'2024-07-08' AS Date), CAST(100000.00 AS Decimal(10, 2)), N'Tiêu Chuẩn')
INSERT [dbo].[Ship] ([shipID], [ship_status], [phaned_time], [ship_cost], [Ship_method]) VALUES (3, N'Đã nhận hàng', CAST(N'2024-06-07' AS Date), CAST(1000000.00 AS Decimal(10, 2)), N'Nhanh')
SET IDENTITY_INSERT [dbo].[Ship] OFF
GO
SET IDENTITY_INSERT [dbo].[Size] ON 

INSERT [dbo].[Size] ([size_ID], [size_name], [size_type]) VALUES (1, N'XL', NULL)
INSERT [dbo].[Size] ([size_ID], [size_name], [size_type]) VALUES (2, N'L', NULL)
INSERT [dbo].[Size] ([size_ID], [size_name], [size_type]) VALUES (3, N'M', NULL)
SET IDENTITY_INSERT [dbo].[Size] OFF
GO
INSERT [dbo].[Size_Color] ([color_id], [size_ID], [quantity], [product_ID]) VALUES (1, 1, 1, 18)
INSERT [dbo].[Size_Color] ([color_id], [size_ID], [quantity], [product_ID]) VALUES (1, 5, 2, 18)
INSERT [dbo].[Size_Color] ([color_id], [size_ID], [quantity], [product_ID]) VALUES (2, 1, 534, 1)
GO
SET IDENTITY_INSERT [dbo].[Sport] ON 

INSERT [dbo].[Sport] ([Sport_ID], [Sport_Name], [Clb_Name]) VALUES (1, N'Bóng Đá', NULL)
INSERT [dbo].[Sport] ([Sport_ID], [Sport_Name], [Clb_Name]) VALUES (2, N'Bóng Rổ', NULL)
INSERT [dbo].[Sport] ([Sport_ID], [Sport_Name], [Clb_Name]) VALUES (3, N'Bóng Chuyền', NULL)
SET IDENTITY_INSERT [dbo].[Sport] OFF
GO
INSERT [dbo].[Status_Blog] ([blog_ID], [status], [type], [time]) VALUES (134, N'done', N'add', CAST(N'2024-07-19T23:00:16.607' AS DateTime))
INSERT [dbo].[Status_Blog] ([blog_ID], [status], [type], [time]) VALUES (135, N'done', N'add', CAST(N'2024-07-19T23:00:17.913' AS DateTime))
INSERT [dbo].[Status_Blog] ([blog_ID], [status], [type], [time]) VALUES (136, N'done', N'add', CAST(N'2024-07-19T23:49:26.610' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Subcategory] ON 

INSERT [dbo].[Subcategory] ([Subcategory_ID], [Subcategory_Name], [category_ID]) VALUES (2, N'Áo Thun', 1)
INSERT [dbo].[Subcategory] ([Subcategory_ID], [Subcategory_Name], [category_ID]) VALUES (3, N'Áo Polo', 2)
INSERT [dbo].[Subcategory] ([Subcategory_ID], [Subcategory_Name], [category_ID]) VALUES (4, N'Áo Khoác', 3)
SET IDENTITY_INSERT [dbo].[Subcategory] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAccounts] ON 

INSERT [dbo].[UserAccounts] ([user_ID], [password_hash], [username], [full_name], [email], [phone_number], [img], [status], [dateCreate], [address]) VALUES (1, N'123', N'son', N'Vũ Hoàng Sơn', N'0332454556', N'null', NULL, N'active', CAST(N'2024-01-07' AS Date), N'Hà Nội')
INSERT [dbo].[UserAccounts] ([user_ID], [password_hash], [username], [full_name], [email], [phone_number], [img], [status], [dateCreate], [address]) VALUES (2, N'123', N'phat2', N'Phát Phế Vật', N'ek@gmail.com', N'389479823', NULL, N'active', CAST(N'2024-02-07' AS Date), N'Hà Nam')
INSERT [dbo].[UserAccounts] ([user_ID], [password_hash], [username], [full_name], [email], [phone_number], [img], [status], [dateCreate], [address]) VALUES (3, N'123', N'phat', N'eo', N'rtwf0311@gmail.com', N'0332454556', N'3.jpg', N'active', CAST(N'2024-03-07' AS Date), N'Hà Nội')
SET IDENTITY_INSERT [dbo].[UserAccounts] OFF
GO
INSERT [dbo].[UserRole] ([user_ID], [role_ID]) VALUES (1, 5)
INSERT [dbo].[UserRole] ([user_ID], [role_ID]) VALUES (7, 5)
INSERT [dbo].[UserRole] ([user_ID], [role_ID]) VALUES (13, 6)
GO
ALTER TABLE [dbo].[UserAccounts] ADD  CONSTRAINT [DF_UserAccounts_dateCreate]  DEFAULT (getdate()) FOR [dateCreate]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_UserAccounts] FOREIGN KEY([user_ID])
REFERENCES [dbo].[UserAccounts] ([user_ID])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_UserAccounts]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_category_Blog] FOREIGN KEY([category_Id])
REFERENCES [dbo].[category_Blog] ([category_Id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_category_Blog]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__product_ID__5070F446] FOREIGN KEY([product_ID])
REFERENCES [dbo].[Product] ([product_ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__product_ID__5070F446]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK__Cart__user_ID__4F7CD00D] FOREIGN KEY([user_ID])
REFERENCES [dbo].[UserAccounts] ([user_ID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK__Cart__user_ID__4F7CD00D]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Product] FOREIGN KEY([product_ID])
REFERENCES [dbo].[Product] ([product_ID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Product]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_UserAccounts] FOREIGN KEY([user_ID])
REFERENCES [dbo].[UserAccounts] ([user_ID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_UserAccounts]
GO
ALTER TABLE [dbo].[history_oder]  WITH CHECK ADD  CONSTRAINT [FK_history_oder_Order] FOREIGN KEY([order_ID])
REFERENCES [dbo].[Order] ([order_ID])
GO
ALTER TABLE [dbo].[history_oder] CHECK CONSTRAINT [FK_history_oder_Order]
GO
ALTER TABLE [dbo].[Home_Products]  WITH CHECK ADD  CONSTRAINT [FK_Home_Products_Product] FOREIGN KEY([product_ID])
REFERENCES [dbo].[Product] ([product_ID])
GO
ALTER TABLE [dbo].[Home_Products] CHECK CONSTRAINT [FK_Home_Products_Product]
GO
ALTER TABLE [dbo].[ImgProduct]  WITH CHECK ADD  CONSTRAINT [FK_ImgProduct_Product] FOREIGN KEY([product_ID])
REFERENCES [dbo].[Product] ([product_ID])
GO
ALTER TABLE [dbo].[ImgProduct] CHECK CONSTRAINT [FK_ImgProduct_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Payment] FOREIGN KEY([pay_ID])
REFERENCES [dbo].[Payment] ([pay_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Payment]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Ship] FOREIGN KEY([shipID])
REFERENCES [dbo].[Ship] ([shipID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Ship]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_UserAccounts] FOREIGN KEY([user_ID])
REFERENCES [dbo].[UserAccounts] ([user_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_UserAccounts]
GO
ALTER TABLE [dbo].[Order_item]  WITH CHECK ADD  CONSTRAINT [FK_Order_item_Order] FOREIGN KEY([order_ID])
REFERENCES [dbo].[Order] ([order_ID])
GO
ALTER TABLE [dbo].[Order_item] CHECK CONSTRAINT [FK_Order_item_Order]
GO
ALTER TABLE [dbo].[Order_item]  WITH CHECK ADD  CONSTRAINT [FK_Order_item_Product] FOREIGN KEY([product_ID])
REFERENCES [dbo].[Product] ([product_ID])
GO
ALTER TABLE [dbo].[Order_item] CHECK CONSTRAINT [FK_Order_item_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_brand] FOREIGN KEY([brand_ID])
REFERENCES [dbo].[brand] ([Brand_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Discount] FOREIGN KEY([discount_ID])
REFERENCES [dbo].[Discount] ([discount_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Discount]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Sport] FOREIGN KEY([Sport_ID])
REFERENCES [dbo].[Sport] ([Sport_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Sport]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Subcategory] FOREIGN KEY([Subcategory_ID])
REFERENCES [dbo].[Subcategory] ([Subcategory_ID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Subcategory]
GO
ALTER TABLE [dbo].[Product_Color]  WITH CHECK ADD  CONSTRAINT [FK_Product_Color_Color] FOREIGN KEY([color_id])
REFERENCES [dbo].[Color] ([color_id])
GO
ALTER TABLE [dbo].[Product_Color] CHECK CONSTRAINT [FK_Product_Color_Color]
GO
ALTER TABLE [dbo].[Product_Color]  WITH CHECK ADD  CONSTRAINT [FK_Product_Color_Product] FOREIGN KEY([product_ID])
REFERENCES [dbo].[Product] ([product_ID])
GO
ALTER TABLE [dbo].[Product_Color] CHECK CONSTRAINT [FK_Product_Color_Product]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Feature] FOREIGN KEY([fu_ID])
REFERENCES [dbo].[Feature] ([fu_ID])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Feature]
GO
ALTER TABLE [dbo].[Role_Feature]  WITH CHECK ADD  CONSTRAINT [FK_Role_Feature_Role] FOREIGN KEY([role_ID])
REFERENCES [dbo].[Role] ([role_ID])
GO
ALTER TABLE [dbo].[Role_Feature] CHECK CONSTRAINT [FK_Role_Feature_Role]
GO
ALTER TABLE [dbo].[Size_Color]  WITH CHECK ADD  CONSTRAINT [FK_Size_Color_Color] FOREIGN KEY([color_id])
REFERENCES [dbo].[Color] ([color_id])
GO
ALTER TABLE [dbo].[Size_Color] CHECK CONSTRAINT [FK_Size_Color_Color]
GO
ALTER TABLE [dbo].[Size_Color]  WITH CHECK ADD  CONSTRAINT [FK_Size_Color_Product] FOREIGN KEY([product_ID])
REFERENCES [dbo].[Product] ([product_ID])
GO
ALTER TABLE [dbo].[Size_Color] CHECK CONSTRAINT [FK_Size_Color_Product]
GO
ALTER TABLE [dbo].[Size_Color]  WITH CHECK ADD  CONSTRAINT [FK_Size_Color_Size] FOREIGN KEY([size_ID])
REFERENCES [dbo].[Size] ([size_ID])
GO
ALTER TABLE [dbo].[Size_Color] CHECK CONSTRAINT [FK_Size_Color_Size]
GO
ALTER TABLE [dbo].[Status_Blog]  WITH CHECK ADD  CONSTRAINT [FK_Status_Blog_Blog] FOREIGN KEY([blog_ID])
REFERENCES [dbo].[Blog] ([blog_ID])
GO
ALTER TABLE [dbo].[Status_Blog] CHECK CONSTRAINT [FK_Status_Blog_Blog]
GO
ALTER TABLE [dbo].[Subcategory]  WITH CHECK ADD  CONSTRAINT [FK_Subcategory_Category1] FOREIGN KEY([category_ID])
REFERENCES [dbo].[Category] ([category_ID])
GO
ALTER TABLE [dbo].[Subcategory] CHECK CONSTRAINT [FK_Subcategory_Category1]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK__UserRole__roleID__3C69FB99] FOREIGN KEY([role_ID])
REFERENCES [dbo].[Role] ([role_ID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK__UserRole__roleID__3C69FB99]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK__UserRole__user_I__3B75D760] FOREIGN KEY([user_ID])
REFERENCES [dbo].[UserAccounts] ([user_ID])
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK__UserRole__user_I__3B75D760]
GO
